header {
  background-color: black;
  color: white;
  a {
    color: white;
  }
  .site-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    .site-title {
      margin: 0;
      padding: 10px 10px;
    }
    .nav-links {
      .site-links {
        padding: 0 5px;
      }
    }
  }
}